/* This CSS from lines 7 to 178 contains a modification and expansion of the original css: Copyright 2018 Harry Thomas - hmt3design.com (ISC) https://github.com/hmt3design */
/* This accompanying sprites.svg file: Copyright 2018 Harry Thomas - hmt3design.com (ISC) https://github.com/hmt3design */
/* Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies. */

@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  background-color: black;
}
h1, h2, h3, h4, h5, h6, p, li, .text, label, code, .blocktext_white {
  color: #ffffff;
}

code {
  text-transform: none;
  background-color: #000000;
  color: #cc99cc;
}

a {
  background-color: #000000;
  color: #ff9900;
}
a:hover {
  color: #dd6644;
}

/*Block text*/
.blocktext_black {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  font-size: 28px;
  color: #000000;
  padding-right: 5px;
}

.blocktext_white {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  font-size: 28px;
  color: #ffffff;
  padding-right: 5px;
}

/*buttons*/
.lcars-btn, .lcars-btn-filtered {
  font-size: 16px;
  color: black;
  padding-right: 5px;
  padding-top: 35px;
  text-align: right;
  background-color: #ff9900;
  height: 60px;
  width: 150px;
  border: none;
  margin-bottom: 5px;
}
.lcars-btn-filtered:hover {
  filter: brightness(85%);
}

/*lcarsHeader*/
.lcars-hdr {
  display: grid;
  grid-template-columns: 45px minmax(1px, 1fr) auto 45px;
  grid-template-rows: 30px;
  grid-template-areas: "hdr-pill-left lcars-hdr-rect lcars-hdr-title hdr-pill-right";
  grid-column-gap: 5px;
  margin: 10px 0;
}
.lcars-hdr2 {
  display: grid;
  grid-template-columns: 45px minmax(1px, 1fr) 45px;
  grid-template-rows: 30px;
  grid-template-areas: "hdr-pill-left lcars-hdr-rect hdr-pill-right";
  grid-column-gap: 5px;
  margin: 10px 0;
}
.lcars-hdr-ljust {
  display: grid;
  grid-template-columns: 45px auto minmax(1px, 1fr) 45px;
  grid-template-rows: 30px;
  grid-template-areas: "hdr-pill-left lcars-hdr-title lcars-hdr-rect hdr-pill-right";
  grid-column-gap: 5px;
  margin: 10px 0;
}
.hdr-pill-left {
  grid-area: hdr-pill-left;
}
.hdr-pill-right {
  grid-area: hdr-pill-right;
}
.lcars-hdr-rect {
  grid-area: lcars-hdr-rect;
  background-color: #ffcc66;
}
.lcars-hdr-title {
  grid-area: lcars-hdr-title;
  color: #ffcc66;
  font-size: 30px;
  position: relative;
  top: 0px;
}

.lcars-hx {
  display: inline-grid;
  grid-template-areas: "hx-pill-left lcars-hx-title hx-pill-right";
  grid-column-gap: 5px;
}
.lcars-hx-title {
  grid-area: lcars-hx-title;
  color: #ffcc66;
  position: relative;
}
.hx-pill-left {
  grid-area: hx-pill-left;
}
.hx-pill-right {
  grid-area: hx-pill-right;
}

/*lcarsBox*/
.lcars-box {
  display: grid;
  grid-row-gap: 5px;
  margin: 10px 0;
}

.lcars-box-top {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) 5px auto 5px var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left lcars-rect-top . lcars-box-title . lcars-box-top-elbow-right";
}
.lcars-box-topleft {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) 5px auto 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left lcars-rect-top . lcars-box-title . lcars-box-top-pill-right";
}
.lcars-box-topright {
  display: grid;
  grid-template-columns: 45px 5px minmax(1px, 1fr) 5px auto 5px var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-pill-left . lcars-rect-top . lcars-box-title . lcars-box-top-elbow-right";
}

.lcars-box-top2 {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left lcars-rect-top lcars-box-top-elbow-right";
}
.lcars-box-topleft2 {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left lcars-rect-top . lcars-box-top-pill-right";
}
.lcars-box-topright2 {
  display: grid;
  grid-template-columns: 45px 5px minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-pill-left . lcars-rect-top lcars-box-top-elbow-right";
}

.lcars-box-top-ljust {
  display: grid;
  grid-template-columns: var(--corner-width-left) 5px auto 5px minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left . lcars-box-title . lcars-rect-top lcars-box-top-elbow-right";
}
.lcars-box-topleft-ljust {
  display: grid;
  grid-template-columns: var(--corner-width-left) 5px auto 5px minmax(1px, 1fr) 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left . lcars-box-title . lcars-rect-top . lcars-box-top-pill-right";
}
.lcars-box-topright-ljust {
  display: grid;
  grid-template-columns: 45px 5px auto 5px minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-pill-left . lcars-box-title . lcars-rect-top lcars-box-top-elbow-right";
}

.lcars-box-top-elbow-left {
  grid-area: lcars-box-top-elbow-left;
}
.lcars-box-top-elbow-right {
  grid-area: lcars-box-top-elbow-right;
}

.lcars-rect-top {
  grid-area: lcars-rect-top;
  background-color: #ff9900;
  height: 30px;
}
.lcars-box-title {
  grid-area: lcars-box-title;
  color: #ff9900;
  font-size: 30px;
  position: relative;
  top: -8px;
}
.lcars-box-top-pill-right {
  grid-area: lcars-box-top-pill-right;
}
.lcars-box-top-pill-left {
  grid-area: lcars-box-top-pill-left;
}

.lcars-box-center {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-areas: "lcars-box-buttons-left lcars-box-main lcars-box-buttons-right";
  grid-column-gap: 20px;
}
.lcars-box-centerleft {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "lcars-box-buttons-left lcars-box-main";
  grid-column-gap: 20px;
}
.lcars-box-centerright {
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-areas: "lcars-box-main lcars-box-buttons-right";
  grid-column-gap: 20px;
}
.lcars-box-centernone {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "lcars-box-main";
}

.lcars-box-buttons-left {
  grid-area: lcars-box-buttons-left;
  display: grid;
}
.lcars-box-buttons-right {
  grid-area: lcars-box-buttons-right;
  display: grid;
}

.lcars-rect-side {
  grid-area: lcars-rect-side;
  background-color: #ff9900;
}
.lcars-box-main {
  grid-area: lcars-box-main;
}

.lcars-box-bot {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left lcars-rect-bot lcars-box-bot-elbow-right";
}
.lcars-box-botleft {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left lcars-rect-bot . lcars-box-bot-pill-right";
}
.lcars-box-botright {
  display: grid;
  grid-template-columns: 45px 5px minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-pill-left . lcars-rect-bot lcars-box-bot-elbow-right";
}

.lcars-box-bot2 {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) 5px auto 5px var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left lcars-rect-bot . lcars-box-subtitle . lcars-box-bot-elbow-right";
}
.lcars-box-botleft2 {
  display: grid;
  grid-template-columns: var(--corner-width-left) minmax(1px, 1fr) 5px auto 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left lcars-rect-bot . lcars-box-subtitle . lcars-box-bot-pill-right";
}
.lcars-box-botright2 {
  display: grid;
  grid-template-columns: 45px 5px minmax(1px, 1fr) 5px auto 5px var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-pill-left . lcars-rect-bot . lcars-box-subtitle . lcars-box-bot-elbow-right";
}

.lcars-box-bot2-ljust {
  display: grid;
  grid-template-columns: var(--corner-width-left) 5px auto 5px minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left . lcars-box-subtitle . lcars-rect-bot lcars-box-bot-elbow-right";
}
.lcars-box-botleft2-ljust {
  display: grid;
  grid-template-columns: var(--corner-width-left) 5px auto 5px minmax(1px, 1fr) 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left . lcars-box-subtitle . lcars-rect-bot . lcars-box-bot-pill-right";
}
.lcars-box-botright2-ljust {
  display: grid;
  grid-template-columns: 45px 5px auto 5px  minmax(1px, 1fr) var(--corner-width-right);
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-pill-left . lcars-box-subtitle . lcars-rect-bot lcars-box-bot-elbow-right";
}

.lcars-box-bot-elbow-left {
  grid-area: lcars-box-bot-elbow-left;
}
.lcars-box-bot-elbow-right {
  grid-area: lcars-box-bot-elbow-right;
}
.lcars-rect-bot {
  grid-area: lcars-rect-bot;
  background-color: #ff9900;
  height: 30px;
  margin-top: 60px;
}
.lcars-box-subtitle {
  grid-area: lcars-box-subtitle;
  color: #ff9900;
  font-size: 30px;
  position: relative;
  top: -8px;
  margin-top: 60px;
}
.lcars-box-bot-pill-right {
  grid-area: lcars-box-bot-pill-right;
  margin-top: 60px;
}
.lcars-box-bot-pill-left {
  grid-area: lcars-box-bot-pill-left;
  margin-top: 60px;
}

/* lcarsCheckbox */
.lcars-checkbox {
  background-color: #000000;
  display: block;
  position: relative;
  padding-left: 4px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lcars-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: var(--chk-bg-color);
  border: 1px #ff9900 solid;
  border-color: var(--chk-main-color);
  border-radius: 2px;
}
.lcars-checkbox:hover input ~ .checkmark {
  border: 2px #ff9900 solid;
  border-color: var(--chk-main-color);
}
.lcars-checkbox input:checked ~ .checkmark {
  border: 2px #ff9900 solid;
  border-color: var(--chk-main-color);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.lcars-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.lcars-checkbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  color: var(--chk-main-color);
  background-color: var(--chk-bg-color);
  border: 2px #ff9900 solid;
  border-color: var(--chk-main-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* lcarsToggle */
.lcars-toggle {
  width: var(--tog-w);
  position: relative;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.lcars-toggle-checkbox {
  display: none;
}
.lcars-toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--tog-radius-label);
}
.lcars-toggle-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.lcars-toggle-inner:before, .lcars-toggle-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 26px;
  box-sizing: border-box;
}
.lcars-toggle-inner:before {
  padding-left: 10px;
}
.lcars-toggle-inner:after {
  padding-right: 10px;
  text-align: right;
}
.lcars-toggle-button {
  display: block;
  width: 18px;
  height: 18px;
  margin: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: var(--tog-radius-button);
  right: var(--tog-w1);
  transition: all 0.3s ease-in 0s;
}
.lcars-toggle-checkbox:checked + .lcars-toggle-label .lcars-toggle-button {
  right: var(--tog-w2);
}
.lcars-toggle-checkbox:checked + .lcars-toggle-label .lcars-toggle-inner {
  margin-left: 0;
}
.lcars-toggle-default .lcars-toggle-inner:before {
  background-color: var(--tog-true-color);
  color: var(--tog-bg-color);
}
.lcars-toggle-default .lcars-toggle-inner:after {
  background-color: var(--tog-false-color);
  color: var(--tog-bg-color);
}
.lcars-toggle-default .lcars-toggle-button {
  background-color: var(--tog-bg-color);
}
.lcars-toggle-inverse .lcars-toggle-inner:before {
  background-color: var(--tog-bg-color);
  color: var(--tog-true-color);
}
.lcars-toggle-inverse .lcars-toggle-inner:after {
  background-color: var(--tog-bg-color);
  color: var(--tog-false-color);
}
.lcars-toggle-inverse .lcars-toggle-button {
  background-color: var(--tog-false-color);
}
.lcars-toggle-inverse .lcars-toggle-checkbox:checked + .lcars-toggle-label .lcars-toggle-button {
  background-color: var(--tog-true-color);
}
.lcars-toggle-tf .lcars-toggle-inner:before {
  content: var(--tog-true-label);
}
.lcars-toggle-tf .lcars-toggle-inner:after {
  content: var(--tog-false-label);
}

/* button hover colors */
.lcars-btn-pale-canary:hover {
  background-color: #ffff99 !important;
}
.lcars-btn-neon-carrot:hover {
  background-color: #ff9933 !important;
}
.lcars-btn-golden-tanoi:hover {
  background-color: #ffcc66 !important;
}
.lcars-btn-lilac:hover {
  background-color: #cc99cc !important;
}
.lcars-btn-eggplant:hover {
  background-color: #664466 !important;
}
.lcars-btn-anakiwa:hover {
  background-color: #99ccff !important;
}
.lcars-btn-mariner:hover {
  background-color: #3366cc !important;
}
.lcars-btn-bahama-blue:hover {
  background-color: #006699 !important;
}
.lcars-btn-blue-bell:hover {
  background-color: #9999cc !important;
}
.lcars-btn-melrose:hover {
  background-color: #9999ff !important;
}
.lcars-btn-hopbush:hover {
  background-color: #cc6699 !important;
}
.lcars-btn-chestnut-rose:hover {
  background-color: #cc6666 !important;
}
.lcars-btn-orange-peel:hover {
  background-color: #ff9966 !important;
}
.lcars-btn-atomic-tangerine:hover {
  background-color: #ff9900 !important;
}
.lcars-btn-danub:hover {
  background-color: #6688cc !important;
}
.lcars-btn-indigo:hover {
  background-color: #4455bb !important;
}
.lcars-btn-lavender-purple:hover {
  background-color: #9977aa !important;
}
.lcars-btn-cosmic:hover {
  background-color: #774466 !important;
}
.lcars-btn-red-damask:hover {
  background-color: #dd6644 !important;
}
.lcars-btn-medium-carmine:hover {
  background-color: #aa5533 !important;
}
.lcars-btn-bourbon:hover {
  background-color: #bb6622 !important;
}
.lcars-btn-sandy-brown:hover {
  background-color: #ee9955 !important;
}
.lcars-btn-periwinkle:hover {
  background-color: #ccddff !important;
}
.lcars-btn-dodger-pale:hover {
  background-color: #5599ff !important;
}
.lcars-btn-dodger-soft:hover {
  background-color: #3366ff !important;
}
.lcars-btn-near-blue:hover {
  background-color: #0011ee !important;
}
.lcars-btn-navy-blue:hover {
  background-color: #000088 !important;
}
.lcars-btn-husk:hover {
  background-color: #bbaa55 !important;
}
.lcars-btn-rust:hover {
  background-color: #bb4411 !important;
}
.lcars-btn-tamarillo:hover {
  background-color: #882211 !important;
}

/* This CSS below is a modification of the original css: Copyright 2014 Garrett https://github.com/joernweissenborn/lcars (MIT) */
.lcars-element {
  position: relative;
  color: #000;
  text-align: right;
  background: #fc6;
  height: 3rem;
  width: 7.5rem;
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.lcars-element * {
  margin: 0;
}
.lcars-element.left-rounded {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding-left: 1.5rem;
}
.lcars-element.right-rounded {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding-right: 1.5rem;
}
.lcars-element.rounded {
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.lcars-element.button {
  cursor: pointer;
}
.lcars-element.button:active {
  background-color: #c69;
}
.lcars-element .lcars-element-addition {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-color: #000;
    color: #fff;
    font-size: 2.000000000000001rem;
  margin-left: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.lcars-element .lcars-element-decorator {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 2rem;
  left: -2.25rem;
  height: 100%;
  background-color: #fc6;
    border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.lcars-element .lcars-element-decorator.right {
  right: -2.25rem;
  left: unset;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lcars-bracket {
  background-color: #fc6;
}
.lcars-bracket.top {
  height: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-width: 0.5rem 1.5rem 0 1.5rem;
}
.lcars-bracket.bottom {
  height: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-width: 0 1.5rem 0.5rem 1.5rem;
}
.lcars-bracket.hollow {
  background-color: #000;
    border-style: solid;
  border-color: #fc6;
}
