/* This CSS from lines 7 to 283 contains a modification and expansion of the original css: Copyright 2018 Harry Thomas - hmt3design.com (ISC) https://github.com/hmt3design */
/* This accompanying sprites.svg file: Copyright 2018 Harry Thomas - hmt3design.com (ISC) https://github.com/hmt3design */
/* Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies. */

@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: Oswald, Roboto, sans-serif;
  color: #ffffff;
}

.text, label {
  color: #ffffff;
}

code {
  text-transform: none;
  background-color: #000000;
  color: #cc99cc;
}

/*Block text*/
.blocktext_black {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #000000;
  padding-right: 5px;
}

.blocktext_white {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #ffffff;
  padding-right: 5px;
}

/*buttons*/
.lcars-btn, .lcars-btn-filtered {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: black;
  padding-right: 5px;
  padding-top: 35px;
  text-align: right;
  background-color: #ff9900;
  height: 60px;
  width: 150px;
  border: none;
  margin-bottom: 5px;
}
.lcars-btn-filtered:hover {
  filter: brightness(85%);
}

/* button hover colors */
.lcars-btn-pale-canary:hover {
  background-color: #ffff99 !important;
}
.lcars-btn-neon-carrot:hover {
  background-color: #ff9933 !important;
}
.lcars-btn-golden-tanoi:hover {
  background-color: #ffcc66 !important;
}
.lcars-btn-lilac:hover {
  background-color: #cc99cc !important;
}
.lcars-btn-eggplant:hover {
  background-color: #664466 !important;
}
.lcars-btn-anakiwa:hover {
  background-color: #99ccff !important;
}
.lcars-btn-mariner:hover {
  background-color: #3366cc !important;
}
.lcars-btn-bahama-blue:hover {
  background-color: #006699 !important;
}
.lcars-btn-blue-bell:hover {
  background-color: #9999cc !important;
}
.lcars-btn-melrose:hover {
  background-color: #9999ff !important;
}
.lcars-btn-hopbush:hover {
  background-color: #cc6699 !important;
}
.lcars-btn-chestnut-rose:hover {
  background-color: #cc6666 !important;
}
.lcars-btn-orange-peel:hover {
  background-color: #ff9966 !important;
}
.lcars-btn-atomic-tangerine:hover {
  background-color: #ff9900 !important;
}
.lcars-btn-danub:hover {
  background-color: #6688cc !important;
}
.lcars-btn-indigo:hover {
  background-color: #4455bb !important;
}
.lcars-btn-lavender-purple:hover {
  background-color: #9977aa !important;
}
.lcars-btn-cosmic:hover {
  background-color: #774466 !important;
}
.lcars-btn-red-damask:hover {
  background-color: #dd6644 !important;
}
.lcars-btn-medium-carmine:hover {
  background-color: #aa5533 !important;
}
.lcars-btn-bourbon:hover {
  background-color: #bb6622 !important;
}
.lcars-btn-sandy-brown:hover {
  background-color: #ee9955 !important;
}
.lcars-btn-periwinkle:hover {
  background-color: #ccddff !important;
}
.lcars-btn-dodger-pale:hover {
  background-color: #5599ff !important;
}
.lcars-btn-dodger-soft:hover {
  background-color: #3366ff !important;
}
.lcars-btn-near-blue:hover {
  background-color: #0011ee !important;
}
.lcars-btn-navy-blue:hover {
  background-color: #000088 !important;
}
.lcars-btn-husk:hover {
  background-color: #bbaa55 !important;
}
.lcars-btn-rust:hover {
  background-color: #bb4411 !important;
}
.lcars-btn-tamarillo:hover {
  background-color: #882211 !important;
}

/*lcarsHeader*/
.lcars-hdr {
  display: grid;
  grid-template-columns: 45px minmax(200px, 1fr) auto 45px;
  grid-template-rows: 30px;
  grid-template-areas: "hdr-pill-left lcars-hdr-rect lcars-hdr-title hdr-pill-right";
  grid-column-gap: 5px;
}
.lcars-hdr2 {
  display: grid;
  grid-template-columns: 45px minmax(200px, 1fr) 45px;
  grid-template-rows: 30px;
  grid-template-areas: "hdr-pill-left lcars-hdr-rect hdr-pill-right";
  grid-column-gap: 5px;
}
.hdr-pill-left {
  grid-area: hdr-pill-left;
}
.hdr-pill-right {
  grid-area: hdr-pill-right;
}
.lcars-hdr-rect {
  grid-area: lcars-hdr-rect;
  background-color: #ffcc66;
}
.lcars-hdr-title {
  grid-area: lcars-hdr-title;
  color: #ffcc66;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: -8px;
}

/*lcarsBox*/
.lcars-box {
  display: grid;
  grid-template-areas: "lcars-box-top" "main-section" "main-bottom";
  grid-row-gap: 5px;
}
.lcars-box-top {
  display: grid;
  grid-template-columns: 300px minmax(1px, 1fr) 5px auto 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left lcars-rect-top . lcars-box-title . lcars-box-top-pill-right";
}
.lcars-box-top2 {
  display: grid;
  grid-template-columns: 300px minmax(1px, 1fr) 5px auto 5px 35px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-top-elbow-left lcars-rect-top lcars-box-top-pill-right";
}
.lcars-box-top-elbow-left {
  grid-area: lcars-box-top-elbow-left;
}
.lcars-rect-top {
  grid-area: lcars-rect-top;
  background-color: #ff9900;
  height: 30px;
}
.lcars-box-title {
  grid-area: lcars-box-title;
  color: #ff9900;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: -8px;
}
.lcars-box-top-pill-right {
  grid-area: lcars-box-top-pill-right;
}
.lcars-box-center {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "lcars-box-buttons lcars-box-main";
  grid-column-gap: 20px;
}
.lcars-box-buttons {
  grid-area: lcars-box-buttons;
  display: grid;
  grid-template-rows: auto minmax(60px, 1fr);
  grid-template-areas: "lcars-button-col" "lcars-rect-left";
}
.lcars-rect-left {
  grid-area: lcars-rect-left;
  background-color: #ff9900;
}
.lcars-box-main {
  grid-area: lcars-box-main;
}
.lcars-box-bot {
  display: grid;
  grid-template-columns: 300px minmax(1px, 1fr) 5px auto 5px 35px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left lcars-rect-bot lcars-box-bot-pill-right";
}
.lcars-box-bot2 {
  display: grid;
  grid-template-columns: 300px minmax(1px, 1fr) 5px auto 5px 45px;
  grid-template-rows: 90px;
  grid-template-areas: "lcars-box-bot-elbow-left lcars-rect-bot . lcars-box-subtitle . lcars-box-bot-pill-right";
}
.lcars-box-bot-elbow-left {
  grid-area: lcars-box-bot-elbow-left;
}
.lcars-rect-bot {
  grid-area: lcars-rect-bot;
  background-color: #ff9900;
  height: 30px;
  margin-top: 60px;
}
.lcars-box-subtitle {
  grid-area: lcars-box-subtitle;
  color: #ff9900;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: -8px;
  margin-top: 60px;
}
.lcars-box-bot-pill-right {
  grid-area: lcars-box-bot-pill-right;
  margin-top: 60px;
}

/* lcarsToggle */
.lcars-toggle {
  width: var(--tog-w);
  position: relative;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.lcars-toggle-checkbox {
  display: none;
}
.lcars-toggle-label {
  display: block; overflow: hidden; cursor: pointer;
  border-radius: var(--tog-radius-label);
}
.lcars-toggle-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.lcars-toggle-inner:before, .lcars-toggle-inner:after {
  display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
  box-sizing: border-box;
}
.lcars-toggle-inner:before {
  padding-left: 10px;
}
.lcars-toggle-inner:after {
  padding-right: 10px;
  text-align: right;
}
.lcars-toggle-button {
  display: block; width: 18px; height: 18px; margin: 6px;
  position: absolute; top: 0; bottom: 0;
  border-radius: var(--tog-radius-button);
  right: var(--tog-w1);
  transition: all 0.3s ease-in 0s;
}
.lcars-toggle-checkbox:checked + .lcars-toggle-label .lcars-toggle-button {
  right: var(--tog-w2);
}
.lcars-toggle-checkbox:checked + .lcars-toggle-label .lcars-toggle-inner {
  margin-left: 0;
}
.lcars-toggle-default .lcars-toggle-inner:before {
  background-color: var(--tog-true-color);
  color: var(--tog-bg-color);
}
.lcars-toggle-default .lcars-toggle-inner:after {
  background-color: var(--tog-false-color);
  color: var(--tog-bg-color);
}
.lcars-toggle-default .lcars-toggle-button {
  background-color: var(--tog-bg-color);
}
.lcars-toggle-inverse .lcars-toggle-inner:before {
  background-color: var(--tog-bg-color);
  color: var(--tog-true-color);
}
.lcars-toggle-inverse .lcars-toggle-inner:after {
  background-color: var(--tog-bg-color);
  color: var(--tog-false-color);
}
.lcars-toggle-inverse .lcars-toggle-button {
  background-color: var(--tog-false-color);
}
.lcars-toggle-inverse .lcars-toggle-checkbox:checked + .lcars-toggle-label .lcars-toggle-button {
  background-color: var(--tog-true-color);
}
.lcars-toggle-tf .lcars-toggle-inner:before {
  content: var(--tog-true-label);
}
.lcars-toggle-tf .lcars-toggle-inner:after {
  content: var(--tog-false-label);
}
